.header-container .navbar {
  height: 80px;
  padding: 0 2em;
}
.header-container .navbar .navbar-collapse {
  height: 100%;
}
.header-container .navbar .navbar-collapse .navbar-nav {
  height: 100%;
  align-items: center;
}
.header-container .navbar .nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-container .navbar .nav-item.active {
  box-shadow: inset 0 -2px 0 #0097a7;
}
.header-container .navbar .nav-item .nav-link {
  position: relative;
  color: #0097a7;
  text-transform: uppercase;
  padding: 0.5em 1em;
}
.header-container .navbar .nav-item .nav-link:hover {
  color: #0097a7;
  opacity: 0.6;
}
.header-container .navbar .nav-item .nav-link:hover .arrow .arrow__upper:before,
.header-container .navbar .nav-item .nav-link:hover .arrow .arrow__upper:after,
.header-container .navbar .nav-item .nav-link:hover .arrow .arrow__lower:before,
.header-container .navbar .nav-item .nav-link:hover .arrow .arrow__lower:after {
  background: rgba(0, 151, 167, 0.3);
}
.header-container .navbar .nav-item .nav-link.startup-btn {
  border: 2px solid #43c9c6;
  border-radius: 50px;
}
.header-container .navbar .nav-item .nav-link.startup-btn:hover {
  color: white;
  background-color: #43c9c6;
  opacity: 1;
}
.header-container .navbar .nav-item .nav-link .arrow {
  position: absolute;
  top: 49%;
  right: 0;
  margin-left: -2px;
  transition: all 0.3s ease-out;
}
.header-container .navbar .nav-item .nav-link .arrow .arrow__upper:before,
.header-container .navbar .nav-item .nav-link .arrow .arrow__upper:after,
.header-container .navbar .nav-item .nav-link .arrow .arrow__lower:before,
.header-container .navbar .nav-item .nav-link .arrow .arrow__lower:after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  width: 6px;
  height: 2px;
  background: #0097a7;
  border-radius: 2px;
  transition: all 0.5s;
}
.header-container .navbar .nav-item .nav-link .arrow .arrow__upper:before,
.header-container .navbar .nav-item .nav-link .arrow .arrow__upper:after {
  top: -1px;
  transform: rotate(-45deg);
}
.header-container .navbar .nav-item .nav-link .arrow .arrow__upper:after {
  right: inherit;
  left: -9px;
  transform: rotate(45deg);
}
.header-container .navbar .nav-item .nav-link .arrow .arrow__lower:before,
.header-container .navbar .nav-item .nav-link .arrow .arrow__lower:after {
  top: 2px;
  transform: rotate(45deg);
}
.header-container .navbar .nav-item .nav-link .arrow .arrow__lower:after {
  right: inherit;
  left: -9px;
  transform: rotate(-45deg);
}
.header-container .navbar .nav-item .nav-link .arrow.collapsed {
  top: 50%;
}
@media only screen and (max-width: 1169px) {
  .header-container .navbar .nav-item .nav-link .arrow.collapsed {
    transform: rotate(-90deg);
    top: calc(50% - 5px);
  }
}
.header-container
  .navbar
  .nav-item
  .nav-link
  .arrow.collapsed
  .arrow__lower:before,
.header-container
  .navbar
  .nav-item
  .nav-link
  .arrow.collapsed
  .arrow__lower:after {
  top: -1px;
  transform: rotate(-45deg);
}
.header-container
  .navbar
  .nav-item
  .nav-link
  .arrow.collapsed
  .arrow__lower:after {
  transform: rotate(45deg);
}

.header-container .sub-nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
  top: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
  box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
  visibility: hidden;
  transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}
.header-container .sub-nav.active {
  visibility: visible;
  opacity: 1;
}
.header-container .sub-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
}
.header-container .sub-nav .nav-item .nav-link {
  color: #0097a7;
}
.header-container .sub-nav .nav-item .nav-link:hover {
  color: #0097a7;
  opacity: 0.6;
}

@media (min-width: 1300px) {
  .header-container .nav-link {
    font-size: 18px;
  }
}
